$size: 24px;
$width: 3px;



.task,
.checkbox,
.remove,
.remove:after,
.remove:before {
  transition: all 100ms ease-in-out;
}

.task {
  --high-color: #eee;
  --high-color-3: #{rgba(#eee, 0.3)};

  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  justify-content: space-between;
  align-items: stretch;
  border: solid 2px;
  border-color: var(--high-color-3);
  border-radius: 8px;
  padding: .5rem;

  &:hover {
    border-color: var(--high-color);
  }
}

.control {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.checkbox,
.remove {
  aspect-ratio: 1;
  height: $size;
  cursor: pointer;
}

.checkbox {
  border: solid 3px;
  border-color: var(--high-color-3);
  border-radius: 5px;
  position: relative;
  overflow: hidden;

  &:hover {
    border-color: var(--high-color);
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: calc(0.5 * ($size / 2));
    height: calc(0.5 * $size);
    rotate: 40deg;
    translate: calc($size / 5);
    border-color: var(--high-color);
    border-style: solid;
    border-width: 0 4px 4px 0;
    opacity: 0;
    transition: inherit;
  }

  &.marked::after {
    opacity: 1;
    border-color: #3d3;
  }
}

.remove {
  position: relative;
  opacity: 0.3;

  &:hover {
    opacity: 1;

    &:before,
    &:after {
      background-color: red;
    }
  }

  &:before,
  &:after {
    display: block;
    position: absolute;
    left: calc(($size - $width) / 2);
    content: ' ';
    height: $size;
    width: $width;
    background-color: var(--high-color);
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

@media (prefers-color-scheme: light) {
  .task {
    --high-color: #222;
    --high-color-3: #{rgba(#222, .3)};
  }
}