$size: 24px !default;
$width: 3px;



.task,
.checkbox,
.remove,
.remove:after,
.remove:before,
.edit:after {
  transition: all 100ms ease-in-out;
}

.task {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  justify-content: space-between;
  align-items: stretch;
  border: solid 2px;
  border-color: var(--high-color-3);
  border-radius: 8px;
  padding: .5rem;

  &:hover {
    border-color: var(--high-color);
  }
}

.texts {
  flex: 1 1 auto;
}

.control {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.checkbox,
.remove,
.edit {
  aspect-ratio: 1;
  height: $size;
  cursor: pointer;
  position: relative;
}

.checkbox {
  $size: 52px;
  flex: 0 0 auto;
  height: $size;
  border: solid 3px;
  border-color: var(--high-color-3);
  border-radius: 5px;
  overflow: hidden;

  &:hover {
    border-color: var(--high-color);
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: calc(0.5 * ($size / 2));
    height: calc(0.5 * $size);
    rotate: 40deg;
    translate: calc($size / 4) calc($size / 64);
    border-color: var(--high-color);
    border-style: solid;
    border-width: 0 calc($size / 8) calc($size / 8) 0;
    opacity: 0;
    transition: inherit;
  }

  &.marked::after {
    opacity: 1;
    border-color: #3d3;
  }
}

.remove {
  opacity: 0.3;

  &:hover {
    opacity: 1;

    &:before,
    &:after {
      background-color: red;
    }
  }

  &:before,
  &:after {
    display: block;
    position: absolute;
    left: calc(($size - $width) / 2);
    content: ' ';
    height: $size;
    width: $width;
    background-color: var(--high-color);
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.edit {
  overflow: hidden;

  &::after {
    content: "\270E";
    display: inline;
    position: absolute;
    color: var(--high-color-3);
    inset: 0;
    margin: auto;
    font-size: 1.5rem;
    line-height: 1em;
  }

  &:hover::after {
    color: var(--high-color);
  }
}